################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RemoteSock/.vs
/RemoteSock/out/build/x64-debug
